@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('../public/fonts/font-styles.css');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* CSS */

body {
  background-color: #222020;
  font-family: 'Amatic SC', sans-serif !important;
}

h1, h2, li {
font-family: 'Earthen Parasite', sans-serif !important;
/* font-weight: bold; */
}

p {
  font-family: 'Amatic SC', sans-serif !important;
  font-size: 36px;
}

.navbar {
  background-color: #222020;
  box-shadow: 0 0 50px rgba(0,0,0,0.9);
}

.mobile-navbar {
  background-color: #222020;
  /* box-shadow: 0 0 50px rgba(0,0,0,0.9); */
}

.logo-container {
  width: 100px;
}

.player {
  background-color: #222020;
  box-shadow: 0 0 50px rgba(0,0,0,0.4);
}

.container {
  max-width: 2000px;
}

.random {
background-color: #201f1f;
}

/* Blink Effect */

@keyframes blink {
  0%, 100% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
}

.blink {
  animation: blink 1.5s infinite;
}